<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- Fancy Box -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <!-- Drop Zone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/basic.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- CSS  -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
</head>
<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="/"><img id="navbarLogo" src="/images/BluRack_Logo.png" alt="Logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu
            </button>
            <!-- Main Nav Links -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#services">SERVICES</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/brands">BRANDS</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/contact-us">CONTACT</a></li>
                </ul>
                <!-- Right Nav Links -->
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger cart" href="/cart/checkout"><i class="fas fa-shopping-cart fa-2x"></i><span id="cartFont"> (
                            <% if (typeof cart !== "undefined") { %>
                                <%= cart.length %>
                            <% } else { %>
                                0
                            <% } %> 
                        )</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger nav-right btn-primary" id="login" href="/users/login">LOG IN</a></li>
                </ul>
            </div>
        </div>
    </nav>
