<!DOCTYPE html>
<html>
<head>
	<!-- Head.ejs -->
	<% include partials/head.ejs %>
</head>
<body>
	<!-- Navbar.ejs -->
	<% include partials/navbar.ejs %> 

	<!-- Video Background -->
	<header class="v-header video-container">
		<div class="fullscreen-video-wrap">
			<video autoplay muted>
				<source src="/images/wine_pouring.mp4" type="video/mp4">
			</video>
		</div>
		<div class="header-overlay"></div>
		<div class="header-content">
			<h1 id="changeItNow">A New Type of Spirits Company</h1>
			<button class="btn btn-lg btn-info">Get Started</button>
		</div>
	</header>

	<!-- Footer.ejs -->
    <% include partials/footer.ejs %>    

	<!-- Scripts.ejs -->
    <% include partials/scripts.ejs %>
</body>
</html>
