<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Log In</h1> 
    <a href="/signup">Sign Up</a>
    <br><br>
	<form action="/login" method="post">
		<input type="text" name="email" placeholder="Email">
		<br>
		<input type="text" name="password" placeholder="Password">
		<br><br>
		<input type="submit" value="Log In">
	</form> 
  </body>
</html>